@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
.icon-info:before {
	content: "\69";
}
.icon-warning:before {
	content: "\21";
}
.icon-creative-commons:before {
	content: "\54";
}
.icon-help:before {
	content: "\60";
}
.icon-info-circle:before {
	content: "\61";
}
.icon-trophy:before {
	content: "\62";
}
.icon-thumbs-up:before {
	content: "\63";
}
.icon-write:before {
	content: "\64";
}
.icon-reply:before {
	content: "\66";
}
.icon-reply-to-all:before {
	content: "\67";
}
.icon-forward:before {
	content: "\68";
}
.icon-attachment:before {
	content: "\6a";
}
.icon-contact:before {
	content: "\6b";
}
.icon-arrow:before {
	content: "\74";
}
.icon-star:before {
	content: "\77";
}
.icon-star-2:before {
	content: "\78";
}
.icon-settings:before {
	content: "\79";
}
.icon-play:before {
	content: "\7a";
}
.icon-pause:before {
	content: "\7b";
}
.icon-volume:before {
	content: "\e008";
}
.icon-shit:before {
	content: "\e009";
}
.icon-play-2:before {
	content: "\35";
}
.icon-pause-2:before {
	content: "\36";
}
.icon-stop:before {
	content: "\37";
}
.icon-play-alt:before {
	content: "\e001";
}
.icon-checkmark:before {
	content: "\e002";
}
.icon-x:before {
	content: "\e003";
}
.icon-pinterest:before {
	content: "\e004";
}
.icon-linkedin:before {
	content: "\e005";
}
.icon-skype:before {
	content: "\e006";
}
.icon-android:before {
	content: "\e007";
}
.icon-windows:before {
	content: "\e00c";
}
.icon-finder:before {
	content: "\e00d";
}
.icon-apple:before {
	content: "\e00e";
}
.icon-tux:before {
	content: "\e00f";
}
.icon-github:before {
	content: "\e010";
}
.icon-feed:before {
	content: "\e011";
}
.icon-flickr:before {
	content: "\e012";
}
.icon-gplus:before {
	content: "\e013";
}
.icon-thumbs-up-2:before {
	content: "\e014";
}
.icon-thumbs-down:before {
	content: "\e015";
}
.icon-link:before {
	content: "\e016";
}
.icon-link-2:before {
	content: "\e017";
}
.icon-upload:before {
	content: "\e018";
}
.icon-download:before {
	content: "\e019";
}
.icon-flag:before {
	content: "\e01a";
}
.icon-attachment-2:before {
	content: "\e01b";
}
.icon-user:before {
	content: "\e01c";
}
.icon-pictures:before {
	content: "\e01d";
}
.icon-database:before {
	content: "\e01e";
}
.icon-box-remove:before {
	content: "\e01f";
}
.icon-box-add:before {
	content: "\e020";
}
.icon-comments:before {
	content: "\e021";
}
.icon-reply-2:before {
	content: "\e022";
}
.icon-reply-3:before {
	content: "\e023";
}
.icon-wrench:before {
	content: "\e024";
}
.icon-cog:before {
	content: "\e025";
}
.icon-forward-2:before {
	content: "\e026";
}
.icon-drawer:before {
	content: "\e027";
}
.icon-cart:before {
	content: "\e028";
}
.icon-home:before {
	content: "\e02a";
}
.icon-newspaper:before {
	content: "\e029";
}
.icon-pencil:before {
	content: "\e02b";
}
.icon-music:before {
	content: "\e02c";
}
.icon-cube:before {
	content: "\e02d";
}
.icon-cube-2:before {
	content: "\e02e";
}
.icon-meter-slow:before {
	content: "\e02f";
}
.icon-meter-medium:before {
	content: "\e030";
}
.icon-meter-fast:before {
	content: "\e031";
}
.icon-loading:before {
	content: "\e032";
}
.icon-zoom-in:before {
	content: "\e033";
}
.icon-zoom-out:before {
	content: "\e034";
}
.icon-key:before {
	content: "\e035";
}
.icon-locked:before {
	content: "\e036";
}
.icon-help-2:before {
	content: "\e037";
}
.icon-bookmark:before {
	content: "\e038";
}
.icon-arrow-up:before {
	content: "\e039";
}
.icon-radio-unchecked:before {
	content: "\e03a";
}
.icon-radio-checked:before {
	content: "\e03b";
}
.icon-twitter:before {
	content: "\e03c";
}
.icon-css3:before {
	content: "\e03d";
}
.icon-html5:before {
	content: "\e03e";
}
.icon-chrome:before {
	content: "\e03f";
}
.icon-firefox:before {
	content: "\e040";
}
.icon-IE:before {
	content: "\e041";
}
.icon-opera:before {
	content: "\e042";
}
.icon-safari:before {
	content: "\e043";
}
.icon-IcoMoon:before {
	content: "\e044";
}
.icon-facebook:before {
	content: "\e045";
}
.icon-comment:before {
	content: "\e046";
}
.icon-smiley:before {
	content: "\e047";
}
.icon-neutral:before {
	content: "\e048";
}
.icon-stop-2:before {
	content: "\e049";
}
.icon-fast-forward:before {
	content: "\e04a";
}
.icon-fast-backward:before {
	content: "\e04b";
}
.icon-pie:before {
	content: "\e04c";
}
.icon-unlocked:before {
	content: "\e04d";
}
.icon-fire:before {
	content: "\e04e";
}
.icon-lightning:before {
	content: "\e04f";
}
.icon-star-3:before {
	content: "\e050";
}
.icon-star-4:before {
	content: "\e051";
}
.icon-star-5:before {
	content: "\e052";
}
.icon-plus:before {
	content: "\e053";
}
.icon-minus:before {
	content: "\e054";
}
.icon-upload-2:before {
	content: "\e055";
}
.icon-download-2:before {
	content: "\e056";
}
.icon-equalizer:before {
	content: "\e058";
}
.icon-list:before {
	content: "\e057";
}
.icon-list-2:before {
	content: "\e059";
}
.icon-user-2:before {
	content: "\e05a";
}
.icon-remove:before {
	content: "\e05b";
}
.icon-stats-up:before {
	content: "\e05c";
}
.icon-mail:before {
	content: "\e05d";
}
.icon-wheel:before {
	content: "\51";
}
.icon-mail-2:before {
	content: "\e00a";
}
.icon-github-2:before {
	content: "\e00b";
}
